Nhóm chúng em xin cam đoan đây là sản phẩm nghiên cứu của riêng nhóm. Các số liệu, kết quả nêu trong báo cáo là trung thực và chưa từng được ai công bố trong bất kỳ công trình nào khác.

Nhóm xin hoàn toàn chịu trách nhiệm về lời cam đoan này.